#bug {
    display: none;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #555;
}


.tab-link {
    color: #fff;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s;
}

.tab-link:hover {
    background-color: #555;
}
